body{
    background: #6da095;;
    text-align: center;
    padding: 60px;
}

div{
    background-color: #285D66;
    border-radius: 20%;
    border: 0.5;
}

h1{
    color:#e1df66;
    font-size: 50%;
    text-align: center;
}
